.block {
  z-index: 5;
  display: flex;
  position: relative;
  align-items: center;
  width: 1510px;
  gap: 0 120px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 72px;
  padding: 18px 53px 18px 47px;
}

.title {
  width: 137px;
  height: 43.75px;
  background: #242424;
  border-radius: 22px;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  display: flex;
  width: 1300px;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 0px 80px;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
  color: rgba(36, 36, 36, 0.5);
  text-decoration: none;
  transition: all 0.2s;
  &.active {
    font-weight: 500;
    color: #242424;
  }
  &:hover {
    color: #4791ff;
  }
}

.icon {
  transition: 0.5s all;
  cursor: pointer;
  &:hover {
    transform: rotate(90deg);
  }
}

.menu {
  position: absolute;
  z-index: 4;
  display: block;
  top: -800px;
  opacity: 0;
  right: 182px;
  transition: 0.3s all;
  &.active {
    opacity: 1;
    top: 145px;
    right: 186px;
  }
}

.bgBlur {
  display: block;
  z-index: 1;
  position: fixed;
  width: 110vw;
  height: 110vh;
  top: -65px;
  right: 0;
  background: rgba(87, 87, 87, 0.13);
  // backdrop-filter: blur(8px);
}

.inputWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.label {
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(36, 36, 36, 0.8);
  &:first-child {
    margin-top: 70px;
  }
}
.input {
  display: block;
  padding: 32px 38px;
  width: 377px;
  height: 82px;
  margin-left: -5px;
  margin-top: 11px;
  border: 1px solid rgba(36, 36, 36, 0.3);
  border-radius: 13.5537px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(36, 36, 36, 0.3);
  transition: 0.2s all;

  &::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: rgba(36, 36, 36, 0.3);
  }
  &:focus {
    border: 1px solid rgba(36, 36, 36, 0.8);
  }
  &.active {
    border: 4px solid #4791ff;
    border-radius: 13.5537px;
    color: rgba(36, 36, 36, 0.8);
  }
}

.saveBtn {
  width: 380px;
  height: 89px;
  margin-top: 40px;
  background: #4791ff;
  font-size: 20px;
  line-height: 89px;
  border-radius: 16px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    color: #242424;
    background: #ffffff;
    border: 1px solid #4791ff;
    border-radius: 16px;
  }
}
.emergency {
  background: #ff3737;
  &.active {
    background: #242424;
  }
  &:hover {
    color: #242424;
    background: #ffffff;
    border: 1px solid #4791ff;
    border-radius: 16px;
  }
}
.blur {
  -webkit-animation: blur 0.2s linear forwards;
  -moz-animation: blur 0.2s linear forwards;
  -ms-animation: blur 0.2s linear forwards;
  -o-animation: blur 0.2s linear forwards;
  animation: blur 0.2s linear forwards;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.delay {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes blur {
  to {
    backdrop-filter: blur(8px);
  }
}
@-moz-keyframes blur {
  to {
    backdrop-filter: blur(8px);
  }
}
@keyframes blur {
  to {
    backdrop-filter: blur(8px);
  }
}
