.block {
  z-index: 5;
  display: flex;
  position: relative;
  align-items: center;
  width: 1510px;
  gap: 0 120px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 72px;
  padding: 18px 53px 18px 47px;
}

.title {
  width: 137px;
  height: 43.75px;
  background: #242424;
  border-radius: 22px;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  display: flex;
  width: 1300px;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 0px 80px;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
  color: rgba(36, 36, 36, 0.5);
  text-decoration: none;
  transition: all 0.2s;
  &.active {
    font-weight: 500;
    color: #242424;
  }
  &:hover {
    color: #4791ff;
  }
}

.icon {
  transition: 0.5s all;
  cursor: pointer;
  &:hover {
    transform: rotate(90deg);
  }
}

.menu {
  position: absolute;
  z-index: 4;
  display: block;
  top: -800px;
  opacity: 0;
  right: 182px;
  transition: 0.3s all;
  &.active {
    opacity: 1;
    top: 145px;
    right: 186px;
  }
}

.bgBlur {
  display: block;
  z-index: 1;
  position: fixed;
  width: 110vw;
  height: 110vh;
  top: -65px;
  right: 0;
  background: rgba(87, 87, 87, 0.13);
  // backdrop-filter: blur(8px);
}

.blur {
  -webkit-animation: blur 0.2s linear forwards;
  -moz-animation: blur 0.2s linear forwards;
  -ms-animation: blur 0.2s linear forwards;
  -o-animation: blur 0.2s linear forwards;
  animation: blur 0.2s linear forwards;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.delay {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes blur {
  to {
    backdrop-filter: blur(8px);
  }
}
@-moz-keyframes blur {
  to {
    backdrop-filter: blur(8px);
  }
}
@keyframes blur {
  to {
    backdrop-filter: blur(8px);
  }
}
